@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&family=Prosto+One&display=swap");

:root {
  --red-normal: #cc0001;
  --white-normal: #fff;
  --black-normal: #121212;

  --font-poppins: "Poppins", sans-serif;
  --font-prosto-one: "Prosto One", cursive;
  --swiper-navigation-size: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
